@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Recoleta-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Recoleta-Regular.woff2') format('woff2');
}

/* :root {
	--background: #f8f8fa;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

:root {
	--background: 0 0% 0%;
	--foreground: 0 0% 100%;
	--card: 220 6% 10%;
	--card-foreground: 0 0% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--primary-foreground: 0 0% 98%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 60.2%;
	--accent: 15 97% 58%;
	--accent-foreground: 15 100% 67%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	--radius: 0.7rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;
		--card: 220 6% 10%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 15 97% 58%;
		--accent-foreground: 15 100% 67%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* * {
	@apply border-border;
}
body {
	@apply bg-background text-foreground;
} */

.line {
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #e3e2e4;
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		position: absolute;
		height: 15vh;
		width: 100%;
		top: -50%;
		left: 0;
		background: linear-gradient(
			to bottom,
			#e3e2e4 0%,
			#573edb 75%,
			#917fee 100%
		);
		animation: drop 7s 0s infinite;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
	}
	&:nth-child(1) {
		margin-left: 0%;
		&::after {
			animation-delay: 2s;
		}
	}

	&:nth-child(3) {
		margin-left: 0%;
		&::after {
			animation-delay: 2s;
		}
	}
}

.line-dash {
	border: none;
	border-left: dashed 2px;
	border-color: #e3e2e4;
	height: 100%;
	width: 1px;
}
.line-dash-horizontal {
	border: none;
	border-top: dashed 2px;
	border-color: #e3e2e4;
	height: 1px;
	width: 100%;
}

.line-horizontal {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.line-exercise {
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background: rgba(255, 255, 255, 0);
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		position: absolute;
		height: 15vh;
		width: 100%;
		top: -50%;
		left: 0;
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 0%,
			#66ec50 75%,
			#9cf78d 100%
		);
		animation: drop 7s 0s infinite;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
	}
	&:nth-child(1) {
		margin-left: -25%;
		&::after {
			animation-delay: 2s;
		}
	}

	&:nth-child(3) {
		margin-left: 25%;
		&::after {
			animation-delay: 2.5s;
		}
	}
}

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}

.gradient-blur {
	position: absolute;
	z-index: 50;
	inset: auto 0 0 0;
	height: 60px;
	pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
	position: absolute;
	inset: 0;
}
.gradient-blur::before {
	content: '';
	z-index: 1;
	backdrop-filter: blur(0.5px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 12.5%,
		rgba(0, 0, 0, 1) 25%,
		rgba(0, 0, 0, 0) 37.5%
	);
}
.gradient-blur > div:nth-of-type(1) {
	z-index: 2;
	backdrop-filter: blur(1px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 12.5%,
		rgba(0, 0, 0, 1) 25%,
		rgba(0, 0, 0, 1) 37.5%,
		rgba(0, 0, 0, 0) 50%
	);
}
.gradient-blur > div:nth-of-type(2) {
	z-index: 3;
	backdrop-filter: blur(2px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 1) 37.5%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 0) 62.5%
	);
}
.gradient-blur > div:nth-of-type(3) {
	z-index: 4;
	backdrop-filter: blur(4px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 37.5%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 1) 62.5%,
		rgba(0, 0, 0, 0) 75%
	);
}
.gradient-blur > div:nth-of-type(4) {
	z-index: 5;
	backdrop-filter: blur(8px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 1) 62.5%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 0) 87.5%
	);
}
.gradient-blur > div:nth-of-type(5) {
	z-index: 6;
	backdrop-filter: blur(16px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 62.5%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 1) 87.5%,
		rgba(0, 0, 0, 0) 100%
	);
}
.gradient-blur > div:nth-of-type(6) {
	z-index: 7;
	backdrop-filter: blur(32px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 75%,
		rgba(0, 0, 0, 1) 87.5%,
		rgba(0, 0, 0, 1) 100%
	);
}
.gradient-blur::after {
	content: '';
	z-index: 8;
	backdrop-filter: blur(64px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 87.5%,
		rgba(0, 0, 0, 1) 100%
	);
}
